@import "tailwindcss";

@theme {
  --color-espresso: #FF5C39;
  --color-filter: #5804E2;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
    background-color: #FF5C39;
    transition: background-color 0.4s ease-in-out;
  }
}
